extends ../layouts/layout
block content
  .jumbotron
    h2 Creative Challenge:
    h1 #{challenge.title}
    h4 Submissions due: #{challenge.submissionDueDate}
    ul
      li One submission (photograph, painting, drawing, sculpture) per challenge
      li Submission must be substantially original (CC0, "No Rights Reserved", work can be incorporated)
    p
      //a.btn.btn-lg.btn-primary(href='http://docs.strongloop.com/display/public/LB/LoopBack#getting-started', role='button') View challenge rules »
